@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --white: #fff;
    --grey: #484848;
    --green: #333333;
    --black: #040b11;
    --red: #e32929;
    --sand: #d6c9b0;
    --tourquise: #78020f;
    --pink: #db677d;
    --bluesky: #79b7e4;
    --blue: #036db4;
    --lightgrey: #e5e8eb;
    --stronggrey: #3f4843;
    --lightgreen: #333333;
    --secondarygrey: #7f9ea8;
    --bronze: #93806f;
    --lightred: #d82b32;
    --darkgreen: #48644b;
    --lighttorquise: #9f1726;
    --lightdark: #0f1d1f;
    --strongsand: #d2b899;
}